
footer{
  background-color: #2C3E50;
  color:white;
  height: 25%;
  text-align: center;
}

 .font-family {
   font-family: 'Roboto', sans-serif;
 }

 .font-color {
    color: white;
 }

.navbar {
  background-color: #2C3E50;
  color:white;
}

.form-perfil {
  padding: 0px 40px 0px 40px;
  background-color: #2f2f2f;
  color: #2a87a2;
  padding: 50px;
}

.titles {
  padding: 40px;
}

.formCard {
  width: 500px;
  margin-left: 100px;
  padding: 0px 40px 0px 40px;
  color: #2a87a2;
  padding: 20px;
}

.block {
 padding-bottom: 20px;
}

.jumbo-pack {
 margin-right: 40px;
 margin-top: 40px;
}

.background-one {
  background-color: #ECF0F1;
  size: 20px;
}

.background-two {
  background-color:#33CCCC;
}

#banner-one {
  background-image: url('../images/dogbanner.jpg');
  background-size: cover;
  background-position: bottom;
  width: 100%;
  height: auto;
}
